/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/


body {
    font-family: 'Bree Serif';
    font-size: 2rem;
    color: #515151;
    line-height: 2;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;

}

div#testoAlternato {
    border: 5px solid #515151;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    width: 75%;
}
p {
    text-shadow: 1px 1px 1px grey;
}

@-webkit-keyframes AlternateText {
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: translateY(-40px); transform: translateY(-40px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    25% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(40px); transform: translateY(40px); }
    100% { opacity: 0; }
}
@keyframes AlternateText {
    0% { opacity: 0; }
    5% { opacity: 0; -webkit-transform: translateY(-40px); transform: translateY(-40px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    25% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(40px); transform: translateY(40px); }
    100% { opacity: 0; }
}

 .parole i {
    -webkit-animation: AlternateText 7s linear infinite 0s;
    -ms-animation: AlternateText 7s linear infinite 0s;
	animation: AlternateText 7s linear infinite 0s;
    position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #4d868f;
}

.parole i:nth-child(2) { 
    -webkit-animation-delay: 2s; 
	-ms-animation-delay: 2s; 
	animation-delay: 2s; 
	color: #4d868f;
}

.parole i:nth-child(3) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
	color: #4d868f;	
}

.parole{
	margin-left: 10px; 
}

